
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


body {
    /* background-color: rgb(115, 115, 255); */
    background: rgb(115,115,255);
background: linear-gradient(90deg, rgba(115,115,255,1) 0%, rgba(255,0,255,1) 100%);
    font-family: 'Oswald', sans-serif;

}

.scores {
    font-size: 2rem;
    text-align: center;
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    border-radius: 25px;
}

.eee {
    display: flex;
    align-items: center;
    justify-content: center;
}